/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2/10/2017, 09:12:17 PM
    Author     : John Jairo
*/

 /*Extilos mensaje de error */
     
     
                     h1.titulo {
   cursor: default;
   position: top;
   top: 30px;
   left: 0;
   right: 0;
   bottom: 0;
   height: 100px;
   margin: auto;
   display: block;
   background: none;
  
   -webkit-animation: bounce .3s ease infinite alternate;
  
   font-family: 'fantasy';
   font-size: 80px;
   color: red;
   text-align: center;
   line-height: 100px;
   text-shadow: 0 1px 0 #CCC,
                0 2px 0 #CCC,
                0 3px 0 #CCC,
                0 4px 0 #CCC,
                0 5px 0 #CCC,
                0 6px 0 transparent,
                0 7px 0 transparent,
                0 8px 0 transparent,
                0 9px 0 transparent,
                0 10px 10px rgba(0, 0, 0, .6);
 }
 /* ANIMATION */
 @-webkit-keyframes bounce {
   100% {
     top: -30px;
    
     text-shadow: 0 1px 0 #CCC,
                  0 2px 0 #CCC,
                  0 3px 0 #CCC,
                  0 4px 0 #CCC,
                  0 5px 0 #CCC,
                  0 6px 0 #CCC,
                  0 7px 0 #CCC,
                  0 8px 0 #CCC,
                  0 9px 0 #CCC,
                  0 30px 30px rgba(0, 0, 0, .3);
   }
           

